<?xml version="1.0" encoding="UTF-8"?>
<Installer>
    <Name>Facade</Name>
    <Version>0.1</Version>
    <Title>Facade</Title>
    <Publisher>David Corbin and Mitchell Harvey</Publisher>
    <ProductUrl>https://github.com/davidcorbin/mygcc-application</ProductUrl>
    <InstallerWindowIcon>installericon</InstallerWindowIcon>
    <InstallerApplicationIcon>installericon</InstallerApplicationIcon>

    <RunProgram>@TargetDir@/facade</RunProgram>
    <RunProgramDescription>Start Facade</RunProgramDescription>
    <StartMenuDir>Facade</StartMenuDir>
    <MaintenanceToolName>SDKMaintenanceTool</MaintenanceToolName>
    <AllowNonAsciiCharacters>true</AllowNonAsciiCharacters>

    <TargetDir>@ApplicationsDir@/Facade</TargetDir>
    <AllowSpaceInPath>true</AllowSpaceInPath>
    <WizardStyle>Mac</WizardStyle>
</Installer>
